@model ReportingDashboard.Models.ReportsViewModel
@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

    <p>
        Find by name: @Html.TextBoxFor(m => m.SearchText, new { id = "searchBox" })
        <input type="button" value="Search" name="Search" onclick="location.href='@Url.Action("Reports", "Home")?search=' + $('#searchBox').val()"/>
    </p>

    <table style="background-color: white; width: 100%;">
        <tr>
            <th style="border: 2px solid black; text-align: center; width: 20%">@Html.ActionLink("Username", "Reports", new { sortOrder = ViewBag.NameSortParm })</th>
            <th style="border: 2px solid black; text-align: center; width: 20%">Current Day</th>
            <th style="border: 2px solid black; text-align: center; width: 20%">Current Time</th>
            <th style="border: 2px solid black; text-align: center; width: 20%">In or Out</th>
            <th style="border: 2px solid black; text-align: center; width: 20%">@Html.ActionLink("Current Date", "Reports", new { sortOrder = ViewBag.DateSortParm })</th>
        </tr>

        @foreach (var item in Model.userTimes)
        {
            <tr>
                <td style="border: 2px solid black; padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td style="border: 2px solid black; padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.cDay)
                </td>
                <td style="border: 2px solid black; padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.cTime)
                </td>
                <td style="border: 2px solid black; padding-left: 50px;">
                    @Html.DisplayFor(modelItem => item.InOROut)
                </td>
                <td style="border: 2px solid black; padding-left: 50px;">
                    @Html.DisplayFor(modelItem => item.cDate)
                </td>
            </tr>
        }

        <tr>
            <td colspan="4">
                <br />
                <br />
                <input type="button" value="Export to Excel" class="button" name="Export" onclick="location.href='@Url.Action("ExportToCSV", "Home")?search=' + $('#searchBox').val()" />
            </td>
        </tr>
    </table>



